/*CSSClassic v0.1.0.1 alpha test 10*/

body{
	background-color: #d3d0c7;
}

p, label, h1{
	font-family: "Arial";
}

input:focus{
	outline: none;
}

input[type="number"], input[type="text"]{
	border: inset 2px;
	border-radius: 0;
	background-color: #ffffff;
}
input[type="number"]:disabled, input[type="text"]:disabled{
	background-color: #d3d0c7;
}

input[type="radio"]{
	border: inset 2px;
	background-color: #d3d0c7;
}
input[type="radio"]:active{
	border: inset 2px;
	background-color: #BBBBBB;
}

input[type="button"], button, input[type="submit"], input[type="reset"]{
	padding: 4px 8px;
	border: outset 2px;
	background-color: #d3d0c7;
}
input[type="button"]:active, button:active{
	border: inset 2px;
	background-color: #BBBBBB;
}

::selection{
	background-color: #08226c;
	color: #ffffff;
}
::-moz-selection{
	background-color: #08226c;
	color: #ffffff;
}