/*CSSClassic v0.1.0.1 alpha test 23*/
:root{
	--primary: #cfcfcf;
	--button-active: #BBBBBB;
}

body{
	background-color: var(--primary);
}

p, label, h1{
	font-family: "Arial";
}

input:focus{
	outline: none;
}

input[type="number"], input[type="text"]{
	border: inset 2px;
	border-radius: 0;
	background-color: #ffffff;
}
input[type="number"]:disabled, input[type="text"]:disabled{
	background-color: var(--primary);
}

input[type="radio"]{
	border: inset 2px;
	background-color: var(--primary);
}
input[type="radio"]:active{
	border: inset 2px;
	background-color: var(--button-active);
}

input[type="button"], button, input[type="submit"], input[type="reset"]{
	padding: 4px 8px;
	border: outset 2px;
	background-color: var(--primary);
}
input[type="button"]:disabled:active, button:disabled:active, input[type="submit"]:disabled:active, input[type="reset"]:disabled:active{
	border: outset 2px;
	background-color: var(--primary);
}
input[type="button"]:active, button:active{
	background-color: #BBBBBB;
	border: inset 2px;
}

::selection{
	background-color: #08226c;
	color: #ffffff;
}
::-moz-selection{
	background-color: #08226c;
	color: #ffffff;
}

body::-webkit-scrollbar {
    background-color: white;
	width: 1em;
}

body::-webkit-scrollbar-button{
	background-color: var(--primary);
	outline: 2px outset #EEEEEE;
	margin-top: 4px;
	margin-bottom: 4px;
}
body::-webkit-scrollbar-thumb{
	background-color: var(--primary);
	outline: 2px outset #EEEEEE;
	margin-top: 4px;
	margin-bottom: 4px;
}

